<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html" charset="UTF-8"/>
	<style>
	h1 { font-size:18pt; font-weight:bold; color:gray;}
	body { font-size:13pt; color:gray; margin:5px 25px; }
	pre { font-size:13pt; color:gray; padding:5px 10px; border:1px solid gray; }
	tr { margin:5px; }
	th { padding:5px; color:white; background:darkgray; }
	td { padding:5px; color:black; background:#e0e0ff; }
	.err { coler:red; }
	</style>
</head>
<body>
	<h1 th:text="#{content.title}">Hello page</h1>
	<p th:text="${msg}"></p>
	<table>
		<tr><th>ID</th><th>Name</th><th>Mail</th><th>Age</th><th>Memo(tel)</th></tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.mail}"></td>
			<td th:text="${obj.age}"></td>
			<td th:text="${obj.memo}"></td>
		</tr>
		<tr>
			<td colspan="5">
			<table>
				<tr>
				<td><div style="text-align: left;"><a th:href="${#myTLHelper.prevUrl(pagenumber)}">Prev</a></div></td>
				<td><div style="text-align: center;">page</div></td>
				<td><div style="text-align: right;"><a th:href="${#myTLHelper.nextUrl(pagenumber)}">Next</a></div></td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
</body>
</html>